<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dirigent.Agent.TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dirigent.Agent.TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dirigent.Agent.TrayApp.Properties.Settings>
            <setting name="MasterIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MachineId" serializeAs="String">
                <value>m1</value>
            </setting>
            <setting name="MasterPort" serializeAs="String">
                <value>5045</value>
            </setting>
            <setting name="SharedConfigFile" serializeAs="String">
                <value>SharedConfig.xml</value>
            </setting>
            <setting name="StartupPlan" serializeAs="String">
                <value />
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>trayGui</value>
            </setting>
        </Dirigent.Agent.TrayApp.Properties.Settings>
    </applicationSettings>

    <log4net>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="LogFileAppender" />
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
            <param name="File" value="dirigent-agent.log" />
            <param name="AppendToFile" value="true" />
            <param name="ImmediateFlush" value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
    </log4net>
  
    <userSettings>
        <Dirigent.Agent.TrayApp.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value />
            </setting>
        </Dirigent.Agent.TrayApp.Properties.Settings>
    </userSettings>
</configuration>