<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dirigent.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dirigent.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dirigent.Common.Properties.Settings>
            <setting name="MasterIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MachineId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MasterPort" serializeAs="String">
                <value>5045</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
              <value>dirigent-agent.log</value>
            </setting>
            <setting name="SharedConfigFile" serializeAs="String">
                <value>SharedConfig.xml</value>
            </setting>
            <setting name="StartupPlan" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value></value>
            </setting>
            <setting name="IsMaster" serializeAs="String">
                <value/>
            </setting>
            <setting name="CLIPort" serializeAs="String">
                <value>5050</value>
            </setting>
            <setting name="LocalConfigFile" serializeAs="String">
                <value>LocalConfig.xml</value>
            </setting>
            <setting name="GatewayConfigFile" serializeAs="String">
                <value>GatewayConfig.xml</value>
            </setting>
            <setting name="GatewayId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="McastIP" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
               <value></value>
            </setting>
            <setting name="McastAppStates" serializeAs="String">
               <value>0</value>
            </setting>
            <setting name="GridRowSpacing" serializeAs="String">
               <value>24</value>
            </setting>
            <setting name="GridButtonSpacing" serializeAs="String">
               <value>24</value>
            </setting>
            <setting name="ConfirmKillAll" serializeAs="String">
               <value>0</value>
            </setting>
        </Dirigent.Common.Properties.Settings>
    </applicationSettings>

    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="LogFileAppender"/>
            <appender-ref ref="ConsoleAppender"/>
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="dirigent-agent.log"/>
            <param name="AppendToFile" value="true"/>
            <param name="ImmediateFlush" value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
            </layout>
        </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.SimpleLayout"/>
            <threshold value="Info" />
        </appender>
    </log4net>
  
    <userSettings>
        <Dirigent.Common.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowJustAppsFromCurrentPlan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartPlanHotKey" serializeAs="String">
                <value>Control + Shift + Alt + S</value>
            </setting>
            <setting name="KillPlanPlanHotKey" serializeAs="String">
                <value>Control + Shift + Alt + K</value>
            </setting>
            <setting name="RestartPlanPlanHotKey" serializeAs="String">
                <value>Control + Shift + Alt + R</value>
            </setting>
            <setting name="SelectPlan1HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 1</value>
            </setting>
            <setting name="SelectPlan2HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 2</value>
            </setting>
            <setting name="SelectPlan3HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 3</value>
            </setting>
            <setting name="SelectPlan4HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 4</value>
            </setting>
            <setting name="SelectPlan5HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 5</value>
            </setting>
            <setting name="SelectPlan6HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 6</value>
            </setting>
            <setting name="SelectPlan7HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 7</value>
            </setting>
            <setting name="SelectPlan8HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 8</value>
            </setting>
            <setting name="SelectPlan9HotKey" serializeAs="String">
                <value>Control + Shift + Alt + 9</value>
            </setting>
        </Dirigent.Common.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
